*.pyc
*.DS_Store
content/.DS_Store
content/images/.DS_Store
output/about/index.html
output/archives.html
output/assets/cover_photo.jpg
output/assets/mikrohelen_southpark.jpg
output/author/mikrohelen.html
output/authors.html
output/categories.html
output/category/misc.html
output/hello-world.html
output/hello-world/index.html
output/images/.DS_Store
output/index.html
output/new-blog/index.html
output/pages/about.html
output/tag/blog.html
output/tag/pelican.html
output/tag/python.html
output/tags.html
output/theme/css/grids-responsive-min.css
output/theme/css/main.css
output/theme/css/pure.css
output/theme/css/pygment.css
output/theme/css/pygments.css
output/theme/css/reset.css
output/theme/css/styles.css
output/theme/css/typogrify.css
output/theme/css/wide.css
output/theme/images/cr.jpg
output/theme/images/icons/aboutme.png
output/theme/images/icons/bitbucket.png
output/theme/images/icons/delicious.png
output/theme/images/icons/facebook.png
output/theme/images/icons/github.png
output/theme/images/icons/gitorious.png
output/theme/images/icons/gittip.png
output/theme/images/icons/google-groups.png
output/theme/images/icons/google-plus.png
output/theme/images/icons/hackernews.png
output/theme/images/icons/lastfm.png
output/theme/images/icons/linkedin.png
output/theme/images/icons/reddit.png
output/theme/images/icons/rss.png
output/theme/images/icons/slideshare.png
output/theme/images/icons/speakerdeck.png
output/theme/images/icons/stackoverflow.png
output/theme/images/icons/twitter.png
output/theme/images/icons/vimeo.png
output/theme/images/icons/youtube.png
themes/rossant-pure/static/css/grids-responsive-min.css
themes/rossant-pure/static/css/pygments.css
themes/rossant-pure/static/css/styles.css
themes/rossant-pure/static/images/cr.jpg
themes/rossant-pure/templates/archives.html
themes/rossant-pure/templates/article.html
themes/rossant-pure/templates/article_list.html
themes/rossant-pure/templates/base.html
themes/rossant-pure/templates/disqus.html
themes/rossant-pure/templates/index.html
themes/rossant-pure/templates/menu.html
themes/rossant-pure/templates/neighbors.html
themes/rossant-pure/templates/page.html
themes/rossant-pure/templates/pagination.html
themes/rossant-pure/templates/sc.html
themes/rossant-pure/templates/sidebar.html
themes/rossant-pure/templates/social.html
themes/rossant-pure/templates/tag.html